.invalidBundle {
    margin: 1px;
    padding: 10px;
    color: red;
    border: 1px solid black;
}

.validBundle {
    margin: 1px;
    padding: 10px;
    color: black;
    border: 1px solid black;
}

textArea {
    width: 300px;
    height: 200px;
}

.bundleDisplay {
    float: left;
    width: 300px;
}

.bundleDisplay ul {
    list-style-type: none;
}

.orderEntry {
    margin-left: 400px;
}
